<a href="https://colab.research.google.com/github/gupta24789/siamese-networks/blob/main/create_train_and_val.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !wget https://github.com/gupta24789/siamese-networks/raw/main/raw_data.zip
# !unzip raw_data.zip

In [ ]:
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

In [ ]:
## Directory
data_dir = Path("data")
data_dir.mkdir(exist_ok=True)

In [ ]:
## Read Data
df = pd.read_csv("raw_data/questions.csv")
print(f'shape : {df.shape}')

shape : (404351, 6)

In [ ]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [ ]:
df.is_duplicate.value_counts()

is_duplicate
0    255045
1    149306
Name: count, dtype: int64

In [ ]:
df.is_duplicate.value_counts()/df.shape[0]

is_duplicate
0    0.630752
1    0.369248
Name: count, dtype: float64

In [ ]:
## split the data usign stratify sampling
train_df, test_df = train_test_split(df,test_size=0.3, random_state=121, stratify=df.is_duplicate)

In [ ]:
print(f'train shape : {train_df.shape}')
print(f'test shape : {test_df.shape}')

train shape : (283045, 6)
test shape : (121306, 6)

In [ ]:
train_df.is_duplicate.value_counts()/len(train_df)

is_duplicate
0    0.630751
1    0.369249
Name: count, dtype: float64

In [ ]:
test_df.is_duplicate.value_counts()/len(test_df)

is_duplicate
0    0.630752
1    0.369248
Name: count, dtype: float64

In [ ]:
train_df.head(3)

,id,qid1,qid2,question1,question2,is_duplicate
27186,27186,54210,54211,What will happen if Google starts charging for...,Is it normal to Google search every question y...,0
246439,246439,485308,485309,Why are bats associated with vampires?,Do vampires get periods?,0
298392,298392,586093,586094,How can I start learning data science?,How can I start learning data science and beco...,1

In [ ]:
test_df.head(3)

,id,qid1,qid2,question1,question2,is_duplicate
291513,291513,572739,572740,What Rolling Stone song has the lyrics “oh and...,What's the point in living if you're so depres...,0
58652,58652,116675,76915,Do you have a Business-Plan to help the poor p...,Suppose you run a mobile business which genera...,0
118294,118294,139357,234460,Where's a good university to study Computer Sc...,What are some good UK universities in computer...,1

In [ ]:
## Save data to disk
train_df = train_df.reset_index(drop = True)
test_df = test_df.reset_index(drop = True)

train_df.to_csv(data_dir/'train.csv', index = False)
test_df.to_csv(data_dir/'test.csv', index= False)